.pinkText{
  color:#eb5bb1;
}

.pinkColor{
  background-color: #FF63C0;
}

.navLink{
  color: white;
  font-weight: bold;
  font-size: 20px;
  margin-right: 10px;
}

.iconBtn{
  padding: 0;
  margin-bottom: 30px;
  box-shadow: none;
}

.iconBtn:hover{
  box-shadow: none;
}

.submitBtn {
  background-color: #FF63C0;
  border-radius: 5px;
  color: white;
  font-family: "Roboto", sans-serif;
  border: none;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.submitBtn:hover {
  box-shadow: 0px 15px 20px #eb5bb1;
  transform: translateY(-7px);
}

.scrollbar {
  overflow: scroll;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background: rgba(0, 0, 0, 0.2);
}

/* custom colors  */
.scrollbar-primary::-webkit-scrollbar {
  background-color: #F5F5F5;
}
.scrollbar-primary {
  scrollbar-color: #4285f4 #f5f5f5;
}
.scrollbar-primary::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  background-color: #4285F4;
}